<html>
<head>
    <script type="text/javascript" src="../public/js/jquery-1.8.3.js"></script>
</head>
<body>

    <div id="wrapper">
        <h1>Spotify Search</h1>
        <div id="chooseArtist">
            <form method="post" action="" id="artistSearch" >
                <label>Search query: </label>
                <input type="text" name="artist" id="artist" />
                <input type="submit" value="Find Tracks" id="findTracks" />
            </form>
        </div>
        <ul id="search-results">
        </ul>
    </div>
    
    <script type="text/javascript">
        $(function() {
            'use strict';

            var $context = $('#wrapper');
            var $artist = $context.find('#artist');
            var $search-results = $context.find('#search-results');
            var $findTracks = $context.find('#findTracks');
            var $artistSearch = $context.find('#artistSearch');

            $artist.focus();

            $artistSearch.submit(function(e) {
              e.preventDefault();
            });

            $findTracks.click(function(e) {
              e.preventDefault();
              $search-results.empty();
              var artist = $artist.val();
              $.getJSON("http://ws.spotify.com/search/1/track.json?q="+artist,function(result) {
                if (result.tracks.length > 0) {
                  var tracksLength = result.tracks.length,
                      html = '';
                  for (var i=0;i<tracksLength;i++) { 
                    if (result.tracks[i].album.availability.territories.indexOf(' GB ') !== -1) {
                      html+='<li><a href="/play/' + result.tracks[i].href + '">' + result.tracks[i].artists[0].name + ' - ' + result.tracks[i].name + '</a></li>';
                    }
                  }
                  $search-results.append(html);
                } else {
                  $search-results.append('<li>No matches returned for \'' + artist + '\'</li>');
                }
              });
            });
        });
    </script>
</body>
</html>